@model BarbeariaWebApi.AgendamentoServiceReference.Agendamento

@{
    ViewBag.Title = "Inclusão";
}

    <h2>Inclusão</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Horário</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.horario, new { htmlAttributes = new { @class = "datepicker" } })
                @Html.ValidationMessageFor(model => model.horario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Cliente</label>
            <div class="col-md-10">
                @Html.DropDownList("idcliente", (IEnumerable<SelectListItem>)ViewBag.ComboboxClientes, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idcliente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Prestador</label>
            <div class="col-md-10">
                @Html.DropDownList("idprestador", (IEnumerable<SelectListItem>)ViewBag.ComboboxPrestadores, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idprestador, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Salvar</button>
                <button type="button" class="btn btn-default">@Html.ActionLink("Voltar", "Index")</button>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(document).ready(function () {
        $(".datepicker").datepicker();
    });
</script>
