@model IEnumerable<BarbeariaWebApi.ClientesServiceReference.Cliente>

@{
    ViewBag.Title = "Clientes";
}

<h2>Lista de Clientes</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            CPF
        </th>
        <th>
            SEXO
        </th>
        <th>
            NOME
        </th>
        <th>
            TELEFONE
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cpf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo.sexo1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefone)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Visualizar", "Details", new { id=item.id }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
