@model IEnumerable<BarbeariaWebApi.VendaReference.Venda>

@{
    ViewBag.Title = "Venda";
}

    <h2>Lista de Venda</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            CLIENTE
        </th>
        <th>
            PRESTADOR
        </th>
        <th>
            TOTAL
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prestador.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>
        <td>
            @Html.ActionLink("Visualizar", "Details", new { id=item.id })
        </td>
    </tr>
}

</table>
